@model NetCoreAI.Project02_ApiConsumeUI.Dtos.CreateCustomerDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<form method="post">
    <div class="container">
        <br /><br />
        <label>Müşteri Adı</label>
        <input type="text" asp-for="customerName" class="form-control" />
        <br />
        <label>Müşteri Soyadı</label>
        <input type="text" asp-for="customerSurname" class="form-control" />
        <br />
        <label>Müşteri Bakiye</label>
        <input type="text" asp-for="customerBalance" class="form-control" />
        <br />
        <button class="btn btn-primary">Müşteriyi Oluştur</button>
    </div>
</form>
